.h4_5,
.h5_5 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

.h4_5 {
  @include font-size($h4_5-font-size);
}

.h5_5 {
  @include font-size($h5_5-font-size);
}

.display-5 {
  @include font-size($display5-size);
  font-weight: $display5-weight;
  line-height: $display-line-height;
}


.caption {
  font-size: .75rem;
  line-height: 1.333;
}

.leading-none { line-height: 1 !important; }
.leading-tightest { line-height: 1.142857 !important; }
.leading-tighter { line-height: 1.125 !important; }
.leading-tight { line-height: 1.2 !important; }
.leading-snugest { line-height: 1.2727 !important; }
.leading-snuger { line-height: 1.333 !important; }
.leading-snug { line-height: 1.375 !important; }
.leading-normal { line-height: 1.5 !important; }
.leading-relaxed { line-height: 1.7166 !important; }

.leading-4 { line-height: 1.5rem; }

.text-xs	{ @include font-size(.75rem); }
.text-sm	{ @include font-size(.875rem); }
.text-base	{ @include font-size(1rem); }
.text-lg	{ @include font-size(1.125rem); }
.text-xl	{ @include font-size(1.25rem); }
.text-1_5xl	{ @include font-size(1.375rem); }
.text-2xl	{ @include font-size(1.5rem); }
.text-3xl	{ @include font-size(1.875rem); }
.text-4xl	{ @include font-size(2.25rem); }
.text-5xl	{ @include font-size(3rem); }
.text-6xl	{ @include font-size(4rem); }
